{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbatron" style="margin-top: 1rem;">
        <h1>Welcome back {{ user.email }}!</h1>
    </div>
</div>

<div class="container" style="padding:1rem">
    <!-- {% for deck in decks %}
        <div class="card text-center" style="margin:1rem">
            <div class="card-body">
            <h5 class="card-title">Incomplete</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="card-link stretched-link">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
            2 days ago
            </div>
        </div>
    {% endfor %} -->
    <div class="card text-center" style="margin:1rem">
        <div class="card-body">
        <h5 class="card-title">Incomplete</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="card-link stretched-link">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
        2 days ago
        </div>
    </div>
</div>

<div class="container" style="padding:1rem">
    <div class="row row-cols-2">
        <h3>Recent Decks</h3>
        <div >
            <a href="{{ url_for('library') }}">View All</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for deck in decks %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ deck.deck_name }}</h5>
                        <h6 class="small card-subtitle mb-2 text-muted">Last Reviewed on: {{ deck.access_time }}</h6>
                        <p class="card-text">{{ deck.deck_description }}</p>
                        <a href="{{ url_for('deck', deck_id=deck.deck_id) }}" class="card-link">View Deck</a>
                         <a href="{{ url_for('score', deck_id=deck.deck_id) }}" class="card-link">View Report</a>
                    </div>
                </div>
          </div>
        {% endfor %}
      </div>
</div>

<div class="container" style="padding:1rem">
    <div class="row row-cols-2">
        <h3>Need to be Reviewed</h3>
        <div >
            <a href="{{ url_for('review') }}">View All</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for deck in decks %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ deck.deck_name }}</h5>
                        <h6 class="small card-subtitle mb-2 text-muted">Last Reviewed on: {{ deck.access_time }}</h6>
                        <p class="card-text">{{ deck.deck_description }}</p>
                        <a href="{{ url_for('deck', deck_id=deck.deck_id) }}" class="card-link stretched-link">View Deck</a>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
</div>


{% endblock %}