{% extends "base.html" %}

{% block title %}
  Flashcards
{% endblock %}

{% block content %}

<div class="main">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Rise to your Challenge</h1>
              <p>Learn in 5+ languages.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption">
              <h1>Use flashcards to learn effectively.</h1>
              <p>Try out the app today.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Trial</a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Track and Review your progress</h1>
              <p>Dynamic scoring of your progress and aesthetic UI make everything more streamlined.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign Up</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container home_content">
    <div class="row justify-content">
      <div class="c1">
        <h1>
          Smart Multilingual Flashcard App
        </h1>
      </div>
      <div class="c2">
        <ul class="list-unstyled">
          <li>
            <i data-feather="book"></i>
            Create your own Flashcards
          </li>
          <li>
            <i data-feather="grid"></i>
            Manage cards using our Deck Management
          </li>
          <li>
            <i data-feather="activity"></i>
            Track and Review your progress
          </li>
          <li>
            <i data-feather="book-open"></i>
            Study Efficiently and effectively
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}